@import '@globalStyles/variables';

.card {
	background-color: #fff;
	border: 1px solid rgba(11, 95, 236, 0.075);
	border-radius: 3px;
	box-shadow: 0 0.5rem 2.5rem rgb(60 127 239 / 15%);
	padding: $size-4 $size-3;
	width: 100%;
	max-width: 48rem;
	justify-self: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.stars {
	color: gold;
	margin-left: -2px;
	margin-bottom: 0.8rem;

	svg {
		height: 20px;
	}
}

.info {
	font-size: $size-0;
	margin-top: $size-4;
}

.name {
	font-weight: 700;
}
