@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.bg {
	background-color: $color-background-accent;
}

.inner {
	padding: $s-9 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.title {
	margin-right: $s-3;
}

@include whenSmall {
	.inner {
		flex-direction: column;
	}

	.title {
		margin-right: 0;
		margin-bottom: $s-3;
	}
}
