@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.footer {
	padding-top: $s-8;
	font-size: $s-0;
	background-color: $color-footer-background;
}

.inner {
	justify-content: space-between;
}

.title {
	font-size: $s-2;
	margin-bottom: 0.8rem;
}

.nav {
	a {
		color: hsl(0, 0%, 100%);
		margin: 0.8rem 0;
		display: block;
	}
}

.contact {
	display: flex;
	justify-content: center;
}

.address {
	a,
	p {
		display: block;
	}
	a {
		margin: 0.8rem 0;
	}
}

.branding {
	margin-top: $s-8;
	padding-top: $s-5;
	padding-bottom: $s-5;
	background-color: darken($color-footer-background, 5%);
}

.brandingLink {
	margin-top: 0.8rem;
}

@include whenMedium {
	.nav,
	.inner {
		text-align: center;
	}
}
