@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.hero {
	background-color: black;
	min-height: calc(100vh - 8rem);
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imageContainer {
	opacity: 0.6;
}

.textContainer {
	position: relative;
	z-index: 3;
}

.subtitle {
	font-size: $size-4;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

@include whenMedium {
	.subtitle {
		font-size: $size-3;
	}
}

@include whenSmall {
	.subtitle {
		font-size: $size-2;
	}
}
